@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.rating {
  font-size: 1.2rem;
  padding: 1rem 0;
  text-align: center;
}
.navbar-root {
  background-color: #ffffff;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  width: 100%;
}

a:hover {
  text-decoration: none;
}

body {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 250px;
}

a.nav-link {
  font-size: 1rem;
  padding: 0.715rem 1rem;
}

a.active.navbar-brand {
  font-size: 2rem;
}
